/*Dark mode*/
body {
  background-color: #a8acb5;
}

/*Includes header and navigation links*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*Fullstack Bakery*/
.header {
  font-size: 36pt;
  font-weight: bold;
}

/*Navigation bar with links*/
.nav {
  display: flex;
  margin-right: 1%;
  gap: 5rem;
  font-size: 16pt;
}

/*Left hand sidebar: created flex boxes and adjusted font size and color*/
.pastries-items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  background-color: #3a506b;
  border-color: #3a506b;
  color: #ffffff;
  font-size: 18pt;
}

/*Left hand sidebar items: Made sidebar a column, added gaps and spacing.*/
.pastries {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5ch;
  list-style: none;
  padding: 0;
  margin: 0;
}

/*Flex box for main body with some spacing away from left hand sidebar*/
main {
  display: flex;
  gap: 1ch;
}

/*Flex box for body of page. Made into column so it reads from top to bottom, some margin away from the right side*/
article {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  margin-right: 7ch;
}

/*bigger font for Best bakery in the business!*/
h1 {
  font-size: 24pt;
}

/*Background color and font adjustments for testimonial quote so it stands out*/
.testimonial {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  background-color: #f0f8ff;
  font-style: italic;
  font-weight: 600;
}

/*Flex box for font and background color adjustments for social media shoutout*/
footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5ch;
  margin-right: 1%;
  background-color: black;
  color: aliceblue;
}
